@media (min-width: 1038px) and (max-width: 1155px) 
    .nav
        a
            padding: 7px 15px
    .header
        &__wrapper
            margin: 0 25px
            img
                width: 60%
        &__title
            font-size: 50px   
        &__subtitle
    .service
        &__wrapper         
            margin: 0 25px
    .about
        &__wrapper         
            margin: 0 25px
    .facts  
        &__wrapper         
            margin: 0 25px
    .cta 
        &__wrapper         
            margin: 0 25px
    .footer
        &__wrapper         
            margin: 0 25px
    .copy
        margin-left: 15px
 