@import 'variables' 
@import 'blocks/nav'
@import 'blocks/header' 
@import 'blocks/service' 
@import 'blocks/about' 
@import 'blocks/facts'
@import 'blocks/cta'
@import 'blocks/footer'

*
    font-size: 16px
.container    
	max-width: 1140px
	margin: 0 auto

.button
    width: 300px
    display: block
    font-size: 16px
    font-weight: 600
    background-color: white
    border-radius: 25px    
    text-align: center
    color: $main-color
    padding: 10px 40px    
    margin-top: 25px
    text-decoration: none!important
    &:hover
        font-weight: 700
    &_dark
        background: $main-color
        color: #ffffff        
        margin-top: 45px
        &:hover
            color: #ffffff
    &_white
        background: #ffffff  
        margin: 0 auto
        margin-top: 40px
        &:hover
            color: $main-color
    &_sumbit
        background: $accent-color
        width: 240px
        display: block
        font-size: 16px
        font-weight: 600
        border-radius: 25px    
        text-align: center
        color: #ffffff 
        padding: 10px 40px    
        margin-top: 25px
        border: none
        text-decoration: none!important



.title
    color: #212529
    font-weight: 600
    font-size: 40px
    margin-bottom: 20px
    span
        font-size: 40px
        color: $main-color
        font-weight: 600

.copy
    font-size: 14px 